
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

html, body {
	height: 100%;
}
html {
	overflow-y: hidden;
}
body {
  background : url("../images/bg-landing-login.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: auto,cover;*/
  background-attachment: fixed;
  background-size: cover;	
	/*
  padding-bottom: 40px;
  background-image : url("../images/bg-landing.jpg");
  background-size: cover;
  background-size: 1725px 1150px;
  background-repeat: no-repeat right top;
	*/
}

/*@media only screen and (max-width: 1350px) {
  body {
    background : url("../images/bg-landing1350p.jpg") no-repeat center center fixed; 
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background : url("../images/bg-landing1024p.jpg") no-repeat center center fixed; 
  }
}

@media only screen and (max-width: 640px) {
  body {
    background : url("../images/bg-landing640p.jpg") no-repeat center center fixed; 
    background-attachment: fixed;
    background-size: cover;
  }
}*/
.div-black{
/*  background-color: black;
  opacity: 0.1;*/
  width:100%; height:100%;position: absolute;*
}
label {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
}
.btn{
  background-color: #2db8dc;
  color: white;  
  margin-bottom:20px;
}
.btn:hover{
  color: #908e8c !important;
  color: white;  
}
.container{
  width: 100%;height:100%;
}
.container2{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

@media only screen and (min-width : 480px) {
  .container2{
    position: absolute;
    width: 430px;
  }
}

.div-logo{
  display:block;
  height : 85px;
  background-color: #2db8dc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; padding-top: 10px; padding-bottom: 20px;
  /* reset password rusak klo diaktifin margin-left: -15px;*/
  width: calc(100% + 30px);
}

@media only screen and (min-width : 480px) {
  .div-logo{
    width: 430px;
  }
}

.logo{
  background-image : url("../images/logo-celebgramme-landing.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:363px; height:100%;
  overflow:hidden;
  margin:0 auto;
}

@media only screen and (max-width : 480px) {
  .logo{
    background-size: contain;
    width:250px;
  }
}

.login-link-forgot{
  position: absolute;
    top: 330px;
    left: 285px;
    color: white;
    font-size: 17.5px;
    font-family: "Open Sans";  
}
.login-link-landing{
  position: absolute;
    top: 575px;
    left: 38px;
    color: white;
    font-size: 17.5px;
    font-family: "Open Sans";  
}
.register-link-landing{
  position: absolute;
    top: 430px;
    left: 270px;
    color: white;
    font-size: 17.5px;
    font-family: "Open Sans";  
}
.register-link-landing:hover, .login-link-landing:hover { 
    color: #908e8c;
    text-decoration: none;
}
.forgot-link-landing{
  position: absolute;
    top: 430px;
    left: 0px;
    color: #000;
    font-size: 17.5px;
    font-family: "Open Sans";  
}
.forgot-link-landing:hover, .login-link-landing:hover { 
    color: #908e8c;
    text-decoration: none;
}
.notif-user{
  position: absolute;
	top: -70px;
	left: 0px;
	width:100%;
}
.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"], .form-signin input[type="password"], .form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.register-p{
  text-align: center;
  font-family: "Open Sans";
  font-size:11.5px;
}
a:hover { text-decoration: none;}
