.fl { float : left; }
.fr { float : right; }
.fn { float : none; }

@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
}

.header-package{
  background-image : url("../images/bg-landing(1).jpg");
  background-size: cover;
  background-size: 1725px 532px;
  height:532px;
  width:100%;
  margin : 0px; padding:0px;
  overflow:hidden;
  background-size:cover;
  position:relative;
  z-index:1;
	.div-black{
	  background-color: rgba(0,0,0,0.1);
	  width:100%; height:100%;position: absolute; margin:0;
	  z-index:5;
	}
	.div-logo{
	  display:block;
	  margin:0 auto;
	  width : 100%;
	  height : 105px;
	  box-sizing: border-box; padding-top: 10px; padding-bottom: 20px;
	}
	.logo{
	  background-image : url("../images/logo-celebgramme-landing.png");
	  background-repeat: no-repeat;
	  background-size: cover;
	  width:420px; height:100%;
	  overflow:hidden;
	  margin:0 auto; 

    @media only screen and (max-width : 480px) {
      background-size: contain;
      width:250px;
    }
	}
	.h1-package{
		display:block;
		margin:0 auto;
		font-size:60px;
		color:#fff;
		text-align:center;
    margin-top:140px;

    @media only screen and (max-width : 480px) {
      margin-top:90px;      
    }
		font-family:raleway;
	}
  .h1-package-price{
    display:block;
    margin:0 auto;
    font-size:60px;
    color:#fff;
    text-align:center;
    margin-top:140px;

    @media only screen and (max-width : 480px) {
      margin-top:55px;      
    }
    font-family:raleway;
  }
}

.content-all{
	margin-top:-60px;
}
.content-package{
	position:relative;
	background-color:#fff;
	z-index:2;
	-webkit-box-shadow:inset 0 0 1px 0.5px #C9C9C9;
	box-shadow:inset 0 0 1px 0.5px #C9C9C9;
	padding-top : 75px;
	.description{
		display:inline-block;
		/*margin-bottom:88px;*/ margin-top : 70px;
		.image-description{
		  background-image : url("../images/laptop-landingpage.png"); ////////////// XX
		  background-size: cover;
		  background-size: 525px 275px;
	      height: 275px;
		  
		}
		.content-description{
			 /*margin-left:-15px; margin-top: -15px;*/
			h3 { 
        font-size:32px; 
        font-family:raleway; 
        font-size : 45px; 
        color:#2090b7; 
        
        @media only screen and (max-width : 480px) {
          font-size : 38px; 
        }
      }
			p { 
        font-size:18.8px; 
        font-family:raleway; 
        line-height: 29px; 

        @media only screen and (max-width : 480px) {
          font-size:16px; 
        }
      }
		}
	}
	.order-now {
    background-image: url("../images/order-now.png");
    background-repeat: no-repeat;
    width:430px;
    height:135px;
    background-size:430px 135px;
    margin:0 
    auto;

    @media only screen and (max-width : 480px) {
      background-size: contain;
      width:310px;
    }
  }
	.order-now:hover{background-image: url("../images/order-now-hover.png");}
	.table-daily-likes { padding:0 50px;}
	.price-list { 
    font-family:raleway; 
    font-size:62px; 
    text-align:center;
    display:block;margin: -10px 0 30px 0; 
    color:#289de5;

    @media only screen and (max-width : 480px) {
      font-size:50px; 
    }
  }
	.price-auto-manage{
		margin-bottom:40px;
	      p { font-size:18.8px; font-family:raleway; }
	}
	.div-opsi-pembayaran { 
		display:inline-block; width:100%;
		label, p { text-align:left; font-size:21px; font-family:"Open Sans";}
		select {}
		.price-checkout{ text-align : right; }
	}
	.checkout-process{ margin-top:30px;}
	.btn-package { 
		cursor:pointer; background-color:#f25d3c; color:#fff; border:0;
		-webkit-border-radius: 7px 7px 7px 7px;
		border-radius: 7px 7px 7px 7px; 
		width:215px;height:50px; margin:0 auto; display:block; font-size:22px;
	}
	.btn-package:hover { background-color:#f27357; }
	.keterangan { text-align:center; font-family:"Open Sans"; font-size:22px; margin-top:120px; margin-bottom:60px;}
	.table{
		font-size:21px;font-family:"Open Sans";
		label:hover {cursor:pointer;}
		thead { 
			color:#fff; font-weight:normal;
			tr th:nth-child(even) {background-color: #252d35}
			tr th:nth-child(odd) {background-color: #333e4b}
		}
		tbody {
			tr:nth-child(even) {background-color: #e6e7e8}
			tr:nth-child(odd) {background-color: #fff}
		}
	}
	a:hover {text-decoration:none;}
}

.footer-package{
	z-index:1;	
	background-color:#2db8dc; 
	width:100%; //height:175px; 
  margin:-60px auto 0 auto;
	padding:0px; 
	.footer-center{
		margin: 70px auto 0 auto; 
	    display: block;
	    //width: 1200px;
	    position: relative;
	    height: 100px;
	    div { font-size:17px; font-family:raleway; color:#6d6e71; margin-top:50px;}
	    .footer-helper{margin-right:0px; padding-bottom:30px;
				a {
					color:#fff;
				}
			}
	    .copyright{
				color:#fff;
			}
    }
    a:hover {text-decoration:none;}
}
.btn-price{
	background-color:#1c6e8e;color:#fff;
}
.btn-price:hover{
	background-color:#2688ae;color:#fff;
}
.btn-price-popular{
	background-color:#e64f37;color:#fff;
}
.btn-price-popular:hover{
	background-color:#e16855;color:#fff;
}